/* Main Navigation */
#main-nav ul {
    padding-left: 0px;
}
#nav-items {
    text-align: center;
    padding: 10px;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
}

#main-nav a {
    text-decoration: none;
    color: black;
}

#main-nav li:hover {
    background-color: lightgrey;
}

/* Typography */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: ivory;
}

#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#hamburger {
    padding:5px;
}

.hide-small {
    display: none;
}

.hidden {
    display: none;
}

#skills-li {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

#main-footer {
    background-color: rgb(198, 198, 202);
    padding: 5px;
    text-align: center;
}

#main-header {
    background-color: lightgrey;
}

#main-content {
    padding: 5px;
    min-height: 100vh;
    width: 100%;
}

.text {
    padding: 30px;
}

#image {
    margin:auto;
    padding-right: 10px;
}

#image iframe {
    height: 700px;
    width: 600px;
}

@media only screen and (min-width: 600px) {
    #main-nav ul, .flex-container {
        display: flex;
    }
    #image {
        flex-wrap: wrap;
    }
    #main-nav li {
        background: none;
        border: none;
    }
    #main-nav li:hover {
        background: none;
    }
    #nav-items {
        align-content: center;
        justify-content: space-evenly;
    }
    #hamburger {
        display: none;
    }
    .hide-small {
        display: block;
    }
}